[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-groq = "*"
langchain = "*"
faiss-cpu = "*"
langserve = {extras = ["all"], version = "*"}
langchain-cli = "*"
uvicorn = "*"
fastapi = "*"
pip = "*"
install = "*"
playwright = "*"
html2text = "*"

[dev-packages]

[requires]
python_version = "3.12"
